<div class="container mt-5"><h1><%= @booking.boat.name %></h1>
  <%=image_tag(@booking.boat.image_url) %>
  <div class="boat-text mt-3">
    <p>Total trip cost: <strong>£<%= @booking.cost %></strong></p>
    <p>You have booked from <strong><%= @booking.start_date %> to <%= @booking.end_date %></strong></p>
    <p>Your total trip will be: <strong><%= (@booking.end_date - @booking.start_date).to_i %> days</strong></p>
    <p>Boat-location: <strong><%= @booking.boat.location %> </strong></p>

    <p>Pack your swim gear and get ready to rumble!</p>
  </div>
  <div class="icon"><%= link_to 'Cancel Booking', boat_booking_path(@boat, @booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_booking", class: "btn btn-lg btn-primary mb-5"%>
  <%= link_to 'Update Booking', edit_boat_booking_path(@boat, @booking), class: "btn btn-lg btn-primary mb-5" %>
  </div>
</div
