<div class="card-container">
<%= link_to boat_path(boat) do %>
      <% if boat.image_url.present? %>
        <div class="card-image-top boat-image h-100 img-thumbnail mb-2"><img src='<%= "#{boat.image_url}" %>'/>
      <% end %>
    <div class="card-body">
      <h3 class="card-text"><%= boat.name %></h3>
      <div class="card-text">£ <%= "#{boat.price}" %> / day</div>
        <div class="card-text">
              <% @bookings.each do |booking| %>
            <div>
                <% booking.reviews.each do |review|%>
                <p><%= '⭐️' * review.rating %></p>
                <% end %>
            </div>
              <% end %>
          </div>
      </div>

  </div>
</div>
