<div class="banner" style="">
  <div class="container">
    <h1>BOATEE</h1>
    <p>Discover a new world of travel</p>
    <%= link_to 'Discover', boats_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<%= render 'shared/footer' %>

<div class="home-card-container">
<div class="home-cards">
  <% @boats.each do |boat| %>
  <div class="home-card-category">
    <%= link_to boat_path(boat) do %>
    <%= image_tag("#{boat.image_url}", class:"card-img-top img-thumbnail")%>
      <div class="card-body">
      <h4 class="home-card-text"><%= boat.name %>
        <% @reviews.each do |review| %>
        <%= '⭐️' * review.rating %>
        <% end %></h4>
      <h5 class="home-card-text-small"><i class="fa-solid fa-sterling-sign"></i>&nbsp;<%= boat.price %>p/n<br>
      <i class="fa-solid fa-bed"></i>&nbsp;<%= boat.guests %>
      </h5>
        </div>
    <% end %> <!-- end of link_to -->
    </div>
    <% end %> <!-- end of boat.each -->


    </div>
  </div>
