<div class="banner" style="">
  <div class="container">
    <h1>BOATEE</h1>

      <p class="ml14">
        <span class="text-wrapper">
        <span class="letters">Discover an Ocean of Travel</span>
        <span class="line"></span>
        </span>
      </p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <%= link_to  'Start Cruising', boats_path, class: "button-home" %>
  </div>
</div>

<%= render 'shared/footer' %>

<div class="home-card-container">
<div class="home-cards">
  <% @boats.each do |boat| %>
  <div class="home-card-category">
    <%= link_to boat_path(boat) do %>
    <%= image_tag("#{boat.image_url}", class:"card-img-top img-thumbnail")%>
      <div class="card-body">
      <h4 class="home-card-text"><%= boat.name %>
        <% @reviews.each do |review| %>
        <%= '⭐️' * review.rating %>
        <% end %></h4>
      <h5 class="home-card-text-small"><i class="fa-solid fa-sterling-sign"></i>&nbsp;<%= boat.price %>p/n<br>
      <i class="fa-solid fa-bed"></i>&nbsp;<%= boat.guests %>
      </h5>
        </div>
    <% end %> <!-- end of link_to -->
    </div>
    <% end %> <!-- end of boat.each -->


    </div>
  </div>
