<div class="banner" style="">
  <div class="container">
    <h1>BOATEE</h1>
    <p>Discover a new world of travel</p>
    <%= link_to 'Discover', boats_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>


  <div class="home-card-container">
      <% @boats.each do |boat| %>
      <div class="home-cards">
        <%= link_to boat_path(boat) do %>
          <img src='<%= "#{boat.image_url}" %>'/>
          <% end %>
          <h4><%= boat.name %><br>£ <%= "#{boat.price}" %> / day
            <% @bookings.each do |booking| %>
              <% booking.reviews.each do |review|%>
              <p><%= '⭐️' * review.rating %></p>

            <% end %>
          <% end %>
        <% end %>
        </div>
</div>
<%= render 'shared/footer' %>
</div>
