<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
        <div class="p-5 mt-5 rounded justify-content-center">
         <%= simple_form_for @boat, html: { class: "form-new"} do |f| %>
           <%= f.input :name, :input_html => { :class => 'foo' }%>
           <%= f.input :boat_type, collection: ["Bracera", "Banana-Boat", "Barge", "Dinghy", "Pedalo", "Punt", "Yacht", "Ship", "Catamaran", "Hovercraft"], as: :select %>
           <%= f.input :docked, as: :select %>
           <%= f.input :location %>
           <%= f.input :price, input_html: { min: 0, step: 'any' } %>
           <%= f.input :guests, input_html: { min: 0, max: 100, step: 'any' } %>
           <%= f.input :image_url %>
           <%= f.submit %>
        <% end %>
       <%= link_to 'back', boats_path, class: "button-new" %>
     </div>
    </div>
  </div>
</div>
