<div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
  <%= simple_form_for @boat do |f| %>
    <%= f.input :name %>
    <%= f.input :boat_type %>
    <%= f.input :docked %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :berth %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'back', boats_path, class: "btn btn-primary" %>
</div>
