<div class="container-hero">

  <div class="container-info shadow bg-white rounded m-3 p-3">
    <h1><%= @boat.name %></h1>
    <p> Docked? - <% if @boat.docked %>
    <%= "Yes" %>
    <% else %>
    <%= "No" %>
    <% end %></p>
    <p> Cost: £<%= @boat.price %> per night </p>
    <p> Boat location <%= @boat.location %> </p>
    <p> Boat Type: <%= @boat.boat_type %> </p>
    <p> Guests: <%= @boat.guests %> </p>
  </div>

  <div class="container-img-btn">
    <img class="boat-image" src="<%=@boat.image_url%>">
      <div class="container-button">
        <%= link_to 'Back', boats_path, class: "btn btn-lg btn-primary" %>
        <%= link_to 'View Bookings', bookings_path, class: "btn btn-lg btn-primary " %>
  <!-- Button trigger modal -->
        <button type="button" class=" btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#new_booking_modal">Book this Boat</button>
        <%= render "bookings/new" %>
      </div>
    </div>
</div>
<div>
<div class="container-reviews p-5 m-5 shadow bg-white rounded">
  <h2>Reviews for <%= @boat.name %></h2>
  <% @bookings.each do |booking| %>
    <div>
      <% booking.reviews.each do |review|%>
      <p><%= '⭐️' * review.rating.times do %></p>
      <% end %>
      <p class="mb-0"><%= review.comment %></p>
      <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
    <% end %>
    </div>
  <% end %>
</div>

  <%= render 'shared/footer' %>
